

input[type="text"], input[type="email"] {
    width: 200px;
}

input, textarea {
    border: 2px solid #70BA02;
    padding: 5px;
    border-radius: 5px;
}

body > .container {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}
tr, td {
    text-align: left;
}